---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import * as R from 'ramda'
import { type IPostInfo, aggregateByTag, getAllPostsInfo } from '@/theme/lib/post'
import HomeLayout from '@/theme/layouts/HomeLayout.astro'
import PostCard from '@/theme/components/PostCard.astro'

export interface Props {
    tag: string
    posts: IPostInfo[]
}

export const getStaticPaths = (async () => {
    const posts = await R.pipe(
        getCollection,
        getAllPostsInfo,
    )('blog')
    const tags = aggregateByTag(posts)
    return Array.from(tags.entries()).map(([tag, posts]) => ({
        params: { slug: tag },
        props: { tag, posts },
    }))
}) satisfies GetStaticPaths


const { tag, posts } = Astro.props
---

<HomeLayout>
    <div class="p-2 grid gap-y-4">
        <h1 class="text-3xl font-bold">
            # {tag}
        </h1>
        <div class="grid gap-y-4">
        {
            posts.map(p => <PostCard info={p}></PostCard>)
        }
        </div>
    </div>
</HomeLayout>

