---
import type { HTMLAttributes } from 'astro/types'
import HeaderLink from './HeaderLink.astro'
import AuthorAvatar from './AuthorInfo/AuthorAvatar.astro'
import Search from './Search.astro'
import config from '@/consts'
import { cn } from '@/theme/lib/utils'

type Props = HTMLAttributes<'header'>

const { class: className, ...props } = Astro.props
const avatarTargetUrl = Astro.url.pathname === '/' ? '/about' : '/'
---

<div class={cn('bg-base-100 flex flex-row items-center mx-2 gap-2', className)} {...props}>
  <!-- 大屏幕时展示title -->
  <div class="md:block hidden">
    <a class="btn btn-ghost text-xl" href="/">
      {config.site.title}
    </a>
  </div>
  <!-- 小屏幕时展示头像 -->
  <a href={avatarTargetUrl} class="md:hidden">
    <AuthorAvatar class="mask mask-squircle bg-neutral w-12 text-neutral-content font-semibold text-lg" />
  </a>

  <Search class="md:hidden m-2" blur />

  <ul class="px-1 gap-x-1 hidden md:menu md:menu-horizontal">
    <li>
      <HeaderLink href="/">
        Blog
      </HeaderLink>
    </li>
    <li>
      <HeaderLink href="/about">
        About Me
      </HeaderLink>
    </li>
  </ul>

  <Search class="hidden md:flex flex-1 max-w-96 m-2 ml-auto mr-4" />
</div>
