---

---

<template id="template-pagefind-search-result-item">
	<div class="card bg-base-300 shadow-xl p-4 flex flex-col gap-1">
		<a class="card-title text-lg underline break-all after:i-ion:open-outline">
			<p slot="title"></p>
			<div class="i-ion:open-outline"></div>
		</a>
		<div class="excerpt text-base-content text-opacity-85 break-all"></div>
	</div>
</template>
