---
import { HTMLAttributes } from 'astro/type'
import { X as ClearIcon } from 'lucide-vue-next'

type Props = HTMLAttributes<'div'> & {
	blur?: boolean
}
const { class: className, blur, ...props } = Astro.props
---

<script>
	import './PagefindMask'
	import './PagefindSearchInput'
	import './PagefindSearchResultItem'
	import './PagefindSearchResults'
</script>

<script type="module">
	if (!window.pagefind) {
		const pagefind = await import('/pagefind/pagefind.js')
		pagefind.init()
		window.pagefind = pagefind
	}
</script>

<pagefind-search-input
	class:list={[
		'input input-bordered flex w-full items-center relative z-10',
		className,
	]}
	{...props}
>
	<pagefind-mask class="hidden" data-blur={blur ? 'true' : 'false'}
	></pagefind-mask>
	<input type="text" class="grow" placeholder="ðŸ” æœç´¢æ–‡ç« " />
	<button class="btn btn-circle btn-ghost btn-sm p-0 hidden" name="clear">
		<ClearIcon />
	</button>
	<pagefind-search-results></pagefind-search-results>
</pagefind-search-input>

<style is:global>
	pagefind-search-input {
		input,
		button {
			@apply z-10 bg-transparent;
		}

		pagefind-mask {
			@apply fixed inset-0 bg-black/50 z-10 transition-all;
		}

		pagefind-search-results {
			@apply absolute w-full top-full left-0 overflow-y-auto z-10 flex flex-col gap-2 mt-2;
		}

		pagefind-search-result-item {
			@apply card bg-base-100 shadow-xl p-4 flex flex-col gap-1;
			.title {
				@apply card-title text-lg underline break-all;
			}
			.excerpt {
				@apply text-base-content text-opacity-85 break-all;
			}
		}
	}
</style>
